div.container
  div.row
    div class="input-group"
      input type="text" class="form-control" id="userInput" placeholder=" Search for..."
      span class="input-group-btn"
        button class="btn btn-default" id="searchButton" type="button" Go!
    div class="panel panel-default col-md-6 offset-md-3"
      div class="panel-heading"
        h2 class="panel-title charName"
      div class="panel-body charInfo"
      ul#loadout
        <h3> Weak Spell </h3>
          ul#weak-spell
        <h3> Standard Spell </h3>
          ul#standard-spell
        <h3> Strong Spell </h3>
          ul#strong-spell
